<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/image/favicon.ico">
    <link rel="apple-touch-icon" href="/image/icon_152.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/image/icon_152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/image/icon_152.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/image/icon_152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/image/icon_152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/image/icon_152.png">
    <!-- @@include ./_header.html -->
  </head>
  <body>
    <!-- @@include ../html/include/_nav.html -->
    <!-- @@placeholder= content -->
    <!-- @@include ../html/include/_footer.html -->
    <script src="./app.js"></script>
  </body>
</html>