<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name的="description" content="提供品牌端媒體解決方案，包含：程序化廣告、創意影音聯播網/PMP；並利用動態訊號進行數據驅動與客製創新素材，運用智能數據演算與精準受眾標籤，達到卓越的廣告優化成效；亦可協助品牌規劃網路口碑聲量與新聞聯播網、影音製作等內容建置服務。"/>
    <meta property="og:type" content="website" />  
    <meta property="og:title" content="開拓者行銷-探索數位行銷的無限可能" />
    <meta property="og:description" content="提供品牌端媒體解決方案，包含：程序化廣告、創意影音聯播網/PMP；並利用動態訊號進行數據驅動與客製創新素材，運用智能數據演算與精準受眾標籤，達到卓越的廣告優化成效；亦可協助品牌規劃網路口碑聲量與新聞聯播網、影音製作等內容建置服務。" />
    <meta property="og:image" content=".img/share_img.png" />
    <meta property="og:url" content="site_url" />
    
    <link rel="icon" type="image/png" href="./img/favicon.png">
    <link rel="apple-touch-icon" href="./img/icon_32.png">
    <link href="./css/index.css?10101" rel="stylesheet">
    <title>開拓者行銷-探索數位行銷的無限可能</title>
  
  </head>
  <body>
    <!-- @@include ../html/include/_nav.html -->
    <!-- @@placeholder= content -->
    <!-- @@include ../html/include/_footer.html -->
    <script src="./app.js?10101"></script>
  </body>
</html>